:root {
    --bg-black: #121212;
    --pastel-red: #E07C7C;
    --pure-white: #FFFFFF;
    --footer-grey: #2E2E2E;
    --footer-text-grey: #D1D1D1;
}
/* Meta */

img {
    max-width: 100%;
    height: auto;
}

i {
    color: var(--pure-white);
    margin-right: 8px;
}

.mainBody {
    background-color: var(--bg-black);
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.textCenter {
    text-align: center;
}

.footer {
    background-color: var(--footer-grey);
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
}

/* Texts */

.titleText {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--pure-white);
    text-align: center;
    font: normal normal bold 48px Source Sans Pro;
}

.normalText {
    font-family: 'Lato', sans-serif;
    color: var(--pure-white);
    text-align: center;
    font: normal normal bold 24px Lato;
}

.quoteText {
    font-family: 'Lato', sans-serif;
    color: var(--pure-white);
    text-align: center;
    font: normal normal italic 18px Lato;
}

.footerText {
    color: var(--pastel-red);
    font: normal normal bold 16px Lato;
    text-decoration:none;
}

.footerText:hover {
    color: var(--pastel-red);
}

.footerTextGray {
    color: var(--footer-text-grey);
    font: normal normal bold 16px Lato;
    text-decoration:none;
}

.footerTextGray:hover {
    color: var(--footer-text-grey);
}

.redSpan {
    color: var(--pastel-red);
}

/* Paddings */

.topPaddingSmall {
    padding-top: 32px;
}

.topPadding {
    padding-top: 64px
}

.topPaddingBig {
    padding-top: 128px
}

.bottomPadding {
    padding-bottom: 64px;
}

.footerTextRightMargin {
    margin-right: 24px;
}


@media only screen and (max-width: 600px) {
    /* Texts */
    
    .titleText {
        font-family: 'Source Sans Pro', sans-serif;
        color: var(--pure-white);
        text-align: center;
        font: normal normal bold 36px Source Sans Pro;
    }
    
    .normalText {
        font-family: 'Lato', sans-serif;
        color: var(--pure-white);
        text-align: center;
        font: normal normal bold 20px Lato;
    }
    
    .quoteText {
        font-family: 'Lato', sans-serif;
        color: var(--pure-white);
        text-align: center;
        font: normal normal italic 14px Lato;
    }
    
    .footerText {
        color: var(--pastel-red);
        font: normal normal bold 10px Lato;
        text-decoration:none;
    }
    
    .footerTextGray {
        color: var(--footer-text-grey);
        font: normal normal bold 10px Lato;
        text-decoration:none;
    }
    
    /* Paddings */
    
    .topPaddingSmall {
        padding-top: 16px;
    }
    
    .topPadding {
        padding-top: 32px
    }
    
    .topPaddingBig {
        padding-top: 64px
    }
    
    .bottomPadding {
        padding-bottom: 32px;
    }
}